header {
    display: flex;
    flex-flow: row wrap;
}


h2 {
    border: 1px solid black;
    margin: 2px;
    width: 32%;
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    border: 0.5px solid black;
    margin: 1px;
    width: 15%;
    text-align: center;
    list-style: none;
}

.content {
    display: flex;
    flex-direction: row;
    border: 0.8px solid black;
}

.aside {
    border: 0.8px solid black;
    width: 25%;
}

.slidebox {
    border: 0.8px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.article {
    display: flex;
    flex-direction: row;
    width: 66%;
    border: 0.8px solid black;
}


.poem {
    border: 0.8px solid black;
    width: 50%;
}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
@media (min-width:600px) and (max-width: 990px) {
    .article {
        display: flex;
        flex-direction: column;
    }

    header {
        display: none;
    }

    .poem {
        width: 100%;
    }
}

/*  Small devices    */
@media (max-width:599px) {

    header, .content {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


        .nav > li {
            margin-top: 30px;
            margin-bottom: 50px;
            width: 100%;
        }
}
